*{
    text-decoration: none;
    list-style: none;
}

body{
    padding: 0px;
    margin-inline: 400px;
    font-family: roboto, sans-serif;
    font-weight: 100;
    
}

.menu{
    
    font-size: 12px;
    
}

.menu ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    text-decoration: none;
    

    
}

.menu ul a{
    display: flex;
    color: gray;
    height: 75px;
    text-decoration: none;
    width: 100px;
    align-items: center;
    justify-content:center;
}

.menu ul a:hover li{
    color: rgba(0, 0, 0, 0.9);
}
    


.menu ul a li{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    
    align-items: center;
    margin-inline: 10px;
    
    
    
}

.menu ul a li i{
    display: flex;
    text-align: justify;
    font-size: 20px;

}
.logo{
    margin-right: 200px;
    left: 0px;
}

.menu ul a li img{
    width: auto;
    height: 75px;
    
    
}

.botao_redondo a{
    
    border-radius: 24px ;
    padding-inline: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin: 10px;
    height: 50px;
    white-space: nowrap;
    color: solid black;
    
   
}


.menu .botao_redondo a{
    font-weight: bold;
    display: inline-flex;
    width: min-content;
    height: 50px;
    margin-inline: 10px ;
    
    
}


.botao_redondo.azul a{
    color: rgb(53, 123, 245);
    border: 1px solid rgb(53, 123, 245);
}

.botao_redondo.azul a:hover{
    background-color: rgb(229, 239, 255);
}

.botao_redondo.azul a:hover li{
    color: rgb(53, 123, 245);
}

.botao_redondo a:hover{
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.9);
}

.baixe{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    margin: 0px;
    padding: 0px;
}

.login{
    font-size: 50px;
        color: gray;

}

.login p{
    margin-bottom: 5px;
}

.login ul{
    display: flex;
    margin: 0px;
    padding: 0px;
}

.login li{
    display: flex;
}

.esquerda ul{
    display: flex;
    flex-direction: column;
}
.esquerda img{
    width: 20px;
    height: 20px;
    
    
    padding: 10px;
    margin: 3px;
    margin-right: 8px;
    
}

.botao_redondo.google a{
    text-decoration: none;
    color: white;
    background-color: rgb(42, 108, 250);
    font-size: 16px;
    width: 350px;
    
}

.botao_redondo.google img{
    border-radius: 50%;
    background-color: white;
}

.botao_redondo.google a:hover{
    background-color: rgb(85, 136, 247);
    transition: 300ms;
}

.botao_redondo.login a{
    border: 1px solid black;
    width: 350px;
    color: black;
}

.login .botao_redondo{
    margin-left: 0px;
    padding-left: 0px;
}
.termos{
    font-size: 12px;

}

.termos a{
    color: rgb(53, 123, 245);;
}

.termos a:hover{
    text-decoration: underline;
} 

.cadastro{
    font-size: 15px;
    color: black;
    margin-left: 20px;
    margin-top: 20px;

}

.cadastro a{
    color: rgb(53, 123, 245);
    margin-left: 5px;
}

.cadastro a:hover{
    text-decoration: underline;
} 

.artigos{
    margin-top: 20px;
    padding-top: 50px;
    background-color: rgba(204, 204, 204, 0.288);
    margin-inline: -400px;
    
}

.artigos .conteudo{
    
    margin-left: 400px;
    display: flex;
}


.artigos ul{
    display: flex;
}

.artigos .esquerda{
    width: 400px;
}

.artigos .direita{
    width: 600px;

}

.artigos .esquerda h2{
    font-size: 30px;
    font-weight: 100;
    white-space: nowrap;
}

.artigos .esquerda p{
    font-size: 20px;
    line-height: 1.5;
}

.artigos .direita ul{
    display:flex;
    flex-wrap: wrap;
}



.artigos .botao_redondo{
    width: fit-content;
    
    
}

.artigos .botao_redondo a{
    padding-inline: 20px;
    border: 1px solid black;
    color: black;
}

.artigos .botao_redondo.azul a{
    color: rgb(53, 123, 245);
    border: 1px solid rgb(53, 123, 245);
}






